@charset "UTF-8";
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v17-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container, .overlay, .footer-main, .modal .button {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

header {
  position: relative;
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-nav {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .main-nav {
    padding-bottom: 16px;
  }
}

.button {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border-width: 0px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
}

.button.subscribe {
  margin-top: 20px;
  padding: 10px 28px 10px 29px;
}

@media screen and (min-width: 1200px) {
  .button.subscribe {
    margin-top: 0;
  }
}

.section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.img-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  fill: currentColor;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-social:hover, .img-social:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  margin-top: 16px;
}

@media screen and (min-width: 1200px) {
  .social-list {
    margin-bottom: 30px;
  }
}

.social-list .item + .item {
  margin-left: 10px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.16;
  width: 145px;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 85px;
  }
  .site-nav .item + .item {
    /* беруться все кроме первого */
    margin-left: 50px;
    /*результат тотже что и выше
      только берутся все кроме последнего
      .site-nav .item:not(:last-child) {
      margin-right: 50px;
      } */
  }
}

@media screen and (max-width: 767px) {
  .container-nav {
    text-align: center;
    padding-top: 60px;
    font-size: 18px;
    line-height: 1.16;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(240, 235, 235, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(240, 235, 235, 0.16);
  }
  .container-nav.is-open {
    display: block;
    z-index: 999;
  }
}

@media screen and (min-width: 768px) {
  .container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.button-menu {
  display: inline-block;
  border: 0;
  background-color: #ffffff;
  color: #212121;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu:hover {
  color: #2196f3;
  outline-color: #ffffff;
}

.button-menu .icon-cross {
  display: none;
}

.button-menu.is-open .icon-cross {
  display: block;
}

.button-menu.is-open .icon-menu {
  display: none;
}

.site-nav-link {
  /*чтобы работала вертикальная геометрия и раздвигалась li */
  display: inline-block;
  /* увеличиваем высоту линка, ширина по которой можно пецнуть мышкой */
  padding-bottom: 40px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav-link.current {
    padding-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav-link:hover, .site-nav-link:focus, .site-nav-link.current {
  color: #2196f3;
}

.site-nav-link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media screen and (min-width: 768px) {
  .site-nav-link.current::after {
    -webkit-transform: translateY(32px);
            transform: translateY(32px);
  }
}

.adress {
  /* для флекс auto работает для горизонтали, для обычных блоков по вертикали */
  margin-left: auto;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .adress-nav {
    font-size: 18px;
    line-height: 1.16;
  }
  .adress-nav .item + .item {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-nav .item + .item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .adress-nav .item + .item {
    margin-left: 30px;
  }
}

.adress-link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:focus, .adress-link:hover {
  color: #2196f3;
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 480px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/HeaderMobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/HeaderMobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    min-width: 1200px;
    height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/HeaderMobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/HeaderMobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/HeaderTablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/HeaderTablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/HeaderTablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/HeaderTablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/HeaderDesktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/HeaderDesktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/HeaderDesktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/HeaderDesktop@2x.jpg");
  }
}

.hero {
  text-align: center;
  margin-bottom: 44px;
}

@media screen and (min-width: 1200px) {
  .hero {
    margin-bottom: 94px;
  }
}

.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.feature-list .title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .feature-list .title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .feature-list .item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list .item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature-list .item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .feature-list .item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list .item + .item {
    margin-left: 30px;
  }
}

.feature-list .text {
  line-height: 1.71;
}

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
}

@media screen and (max-width: 1199px) {
  .examples-section {
    display: none;
  }
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.examples-container {
  position: relative;
}

.examples-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.team-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list .title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .text {
  display: inline-block;
  font-size: 16px;
  line-height: 1.19px;
}

.team-list .img {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .team-list .img {
    width: 270px;
  }
}

.team-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .team-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .team-item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item + .team-item {
    margin-left: 30px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .client-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .item:hover, .client-list .item:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client-li {
  width: calc((100% - 30px) / 2);
}

@media screen and (max-width: 767px) {
  .client-li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .client-li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client-li {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .client-li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-li {
    width: 170px;
  }
  .client-li:not(:last-child) {
    margin-right: 30px;
  }
}

.img-client {
  --color1: currentColor;
}

.footer-main {
  text-align: center;
  padding: 60px 0px;
  height: 603px;
  max-width: 480px;
  background: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer-main {
    height: 463px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-main {
    height: 252px;
    max-width: 1600px;
    min-width: 1200px;
    text-align: left;
  }
}

.footer-adress {
  font-style: normal;
}

.footer-adress .post {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71x;
}

.footer-adress .item + .item {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-adress .item + .item {
    margin-top: 9px;
  }
}

.footer-adress .link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71x;
  text-decoration: none;
}

.footer-adress .link:hover, .footer-adress .link:focus {
  color: #2196f3;
}

.footer-header {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-header {
    margin-top: 60px;
  }
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .logo-studio {
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer form {
    margin-top: 60px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-list {
    margin-left: 165px;
  }
}

.img-footer {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.img-sent {
  fill: currentColor;
  margin-left: 10px;
  vertical-align: middle;
}

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px 15px;
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.backdrope {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrope.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  left: 50%;
  top: 15px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.modal .button {
  display: block;
}

.form-title {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 4px;
}

textarea:focus + .img-form {
  color: #2196f3;
}

textarea:focus {
  border: 1px solid #2196f3;
  outline: 0;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field:focus .form-label,
.form-field:hover .form-label {
  color: #2196f3;
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  height: 40px;
  padding: 12px 42px;
  border-radius: 4px;
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-input:focus + .img-form {
  color: #2196f3;
}

.form-input:focus {
  border: 1px solid #2196f3;
  outline: 0;
}

.form-allow {
  margin-top: 20px;
  margin-bottom: 30px;
}

.button-close {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  color: #2196f3;
}

.img-close {
  fill: currentColor;
}

.img-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
}

.form-link {
  color: #2196f3;
}

.img-form {
  color: #212121;
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-label::before {
  background-color: #2196f3;
  background-image: url("../images/svg/icon_check.svg");
  border-width: 0;
  /* background-size: contain;
  background-origin: border-box; */
}

.checkbox-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  vertical-align: middle;
  margin-right: 8px;
}
/*# sourceMappingURL=main.css.map */