.footer-main {
  @extend %centeredMargin;

  text-align: center;
  padding: 60px 0px;

  height: 603px;
  max-width: $mobile;

  @media screen and (min-width: $tablet) {
    height: 463px;
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    height: 252px;

    max-width: $desktopMax;
    min-width: $desktop;

    text-align: left;
  }

  background: #2f303a;
}

.footer-adress {
  font-style: normal;

  .post {
    color: $primary-white-color;
    font-size: 14px;
    line-height: 1.71x;
  }

  .item + .item {
    margin-top: 8px;
  }

  @media screen and (min-width: $desktop) {
    .item + .item {
      margin-top: 9px;
    }
  }

  .link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71x;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.footer-header {
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;

  @media screen and (max-width: $tablet1) {
    margin-top: 60px;
  }
}

.footer {
  .logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  .logo-studio {
    color: $primary-white-color;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop1) {
    form {
      margin-top: 60px;
      width: 450px;
    }
  }

  &.container {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer-list {
  @media screen and (min-width: $tablet) and (max-width: $desktop1) {
    margin-left: 165px;
  }
}

.img-footer {
  background: rgba(255, 255, 255, 0.1);
  color: $primary-white-color;
}

.img-sent {
  fill: currentColor;
  margin-left: 10px;
  vertical-align: middle;
}

.footer-input {
  width: 100%;
  height: 50px;

  @media screen and (min-width: $tablet) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
  }

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-right: 12px;

  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px 15px;
}
