.logo {
  font-family: $fontSecond;
  font-weight: bold;
  text-decoration: none;

  font-size: 24px;
  line-height: 1.16;

  width: 145px;
  display: inline-block;

  // padding-top: 16px;
  // padding-bottom: 16px;

  // @media screen and (min-width: $tablet) {
  //   padding-top: 26px;
  //   padding-bottom: 26px;
  // }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;

    // padding-top: 24px;
    // padding-bottom: 25px;
  }
}

.logo-web {
  color: $accent-color;
}
.logo-studio {
  color: #000000;
}
